{extend name="layout/common" /}

{block name="header"}
<section class="content-header">
    <h1>
        模块管理
    </h1>
</section>
{/block}

{block name="body"}
<div class="row">
    <div class="col-xs-12">
        
        <div class="box box-success">
            <div class="box-header">
                <form method="get" action="{:url('index')}" id="search">
                    <input  type="text" name="name" value="{$search.name}" placeholder="请输入你要查找的内容" />
                    <select name="type_id" id="type_id" class="">
                        <option value="">请选择类型</option>
                        {volist name="type_list" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                    <script>
                        $("#type_id").val("{$search['type_id']}") ;
                    </script>
                    <a class="btn btn-success btn-sm"  href="javascript:$('#search').submit();" id="search" >搜  索</a>
                </form>
            </div>
            <form method="POST" id="form_list" name="form_list">
                <div class="box-body">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th ><input id="all"   type="checkbox"  onclick="chk_all()" /></th>
                            <th class="">id</th>
                            <th class="">名称</th>
                            <th class="">图片</th>
                            <th class="">所属分类</th>
                            <th class="">等级</th>
                            <th class="">二维码</th>
                            <th class="">点击量(次)</th>
                            <th class="">添加时间</th>
                            <th class="">操作</th>
                        </tr>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>
                                <input class="check-all" type="checkbox"  value="{$vo.id}" name="id[]" />
                            </td>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td> <if condition="!empty($vo['ico'])"><img class="game_ico" src="{$vo['ico']}" width="70"></if></td>
                            <td>{$vo.type_name}</td>
                            <td>{$vo.star}</td>
                            <td><if condition="!empty($vo['qrcode'])"><img class="game_ico" src="{$vo['qrcode']}" width="70"></if></td>
                            <td>{$vo.view_num}</td>
                            <td>{$vo.add_date}</td>
                            <td>
                                <a href="{:url('edit?id='.$vo['id'])}" >编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="javascript:drop_confirm('您确定要删除吗?','{:url('del?id='.$vo['id'])}')" >删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="h_pagination" style="padding-top: 15px;">
                    {$page_html}
                </div>
                <div class="box-header" style="padding-bottom:20px;">
                    <a href="{:url('edit')}" type="button" class="btn btn-success btn-sm">添加<i class="fa fa-fw fa-plus"></i></a>


                    <!--<a class="btn btn-success btn-sm" onclick="form_submit('form_list','{:url('upd_sort')}','您确定更新排序吗？')">更新排序</a>-->

                </div>
            </form>
        </div>
    </div>
</div>
{/block}