{extend name="layout/common" /}


{block name="header"}
<section class="content-header">
    <h1>
        编辑管理员信息
    </h1>
</section>
{/block}

{block name="body"}
<div class="row">

    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
            </div>

            <form action="{:url('admin/group/update', ['id' => $group['id']])}" method="PUT" class="form-horizontal ajax-post">
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户组名称</label>

                        <div class="col-sm-10">
                            <input type="text" name="title" disabled class="form-control" value="{$group.title}">
                            <span class="help-block">不超过25个字符</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"  name="description">{$group.description}</textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否禁用</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="radio" name="status" value="1" {$group.status ? 'checked' : ''}> 启用
                                </label>
                                <label>
                                    <input type="radio" name="status" value="0" {$group.status ? '' : 'checked'}> 禁用
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <button class="btn btn-default back">返回</button>
                    <button type="submit" class="btn btn-success">更新</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
